{
    "ravelry": {
        "username": "",
        "password": "",
        "storeId": 0
    },
    "instagram": {
        "userId": 0
    },
    "users": [
        { "username": "", "password": "" }
    ]
}