<style>
  body {
    margin: 0;
    padding: 0;
  }
  .header {
    width: 100%;
    height: 300px;
  }
  .header .background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("/images/header/header-bg.jpg");
    background-size: cover;
    background-position: center center;
  }
  .header h1 {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 80px;
    font-weight: normal;
    color: white;
    z-index: 1;
  }
</style>
<div class="header">
  <div class="background">
    <h1>LizCorke.com</h1>
  </div>
</div>